# Secrets & configs
*.json
*.yml
*.yaml

# Logs
logs/
*.log
# Notebooks like Jupyter
*.ipynb

# Environment files
.env
.env.*

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/.json

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Local data/state
data/processed/

# Ignore test outputs
.pytest_cache/

# Ignore nul
nul
