docker ingnor file
.git
.gitignore
README.md
LICENSE
docker-compose.yml
docker-compose.prod.yml
docker-compose.dev.yml
docker-compose.test.yml
docker-compose.override.yml
docker-compose.override.prod.yml
docker-compose.override.dev.yml
~
~
~
~
~
~
~
~
~
~
this is an exmple of a .dockerignore file that in which
we study the how braches work in git and how to use them in our projects
we will create a new branch called "feature/docker" and we will make some changes to